.circle {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  margin-right: 0.3em;
}

@media (max-width: 600px) {
  .button {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
  }

  .circle {
    display: none;
  }
}
