.container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  z-index: -1;
}

.spacer {
  position: absolute;
  transition: transform 1s ease-in;
  border-radius: 20%;
  width: 100%;
  height: 100%;
  background-color: var(--mui-palette-secondary-main);
}

[data-theme='dark'] .spacer {
  background-color: var(--mui-palette-primary-main);
}
