.container {
  width: 70vw;
  position: relative;
  margin: auto;
}

.tiles {
  position: relative;
  top: -200px;
}

@media (max-width: 1600px) {
  .container {
    width: 90vw;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .tiles {
    display: none;
  }
}
