.container {
  width: 650px;
  position: relative;
  margin: auto;
}

.tiles {
  position: relative;
  top: -200px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .tiles {
    display: none;
  }
}
