.container {
  width: 70vw;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1600px) {
  .container {
    width: 90vw;
  }
}

@media (max-width: 899px) {
  .container {
    height: 100%;
    width: 100%;
  }
}
