@media (max-width: 899px) {
  .pageTitle {
    margin: 16px;
  }
}

.gradientText {
  background: linear-gradient(225deg, #5fddff 12.5%, #12ff80 88.07%);
  background-clip: text;
  color: transparent;
}

.barcode {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
  pointer-events: none;
}

.chipSoon {
  background-color: #696669;
  color: var(--mui-palette-background-paper);
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 8px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}

.chipFinished {
  background-color: #a1a3a7;
  color: var(--mui-palette-background-paper);
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 8px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}

.chipActive {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-background-paper);
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 8px;
  border: none;
  font-weight: 400;
  cursor: pointer;
}

.progressBar :global .MuiLinearProgress-bar {
  background: linear-gradient(-90deg, #10ff84, #5fddff);
  border-radius: 8px;
}

.progressBar {
  background: none;
}
