.singleTile {
  position: absolute;
  top: 0px;
  right: 80px;
  color: var(--mui-palette-secondary-main);
}

.boostInfoBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.bordered {
  border-radius: 6px;
  border: var(--mui-palette-border-light) 1px solid;
}

.doubleTile {
  position: absolute;
  bottom: 15px;
  right: 0px;
  color: var(--mui-palette-secondary-main);
}

.badge :global .MuiBadge-badge {
  right: 4px;
  bottom: 5px;
  height: 6px;
  min-width: 6px;
}

.badge :global .MuiBadge-badge {
  bottom: 4px;
  right: 4px;
  background-color: var(--mui-palette-secondary-main);
}

.maxButton {
  border: 0;
  background: none;
  color: var(--mui-palette-primary-main);
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.gauge {
  transition: width 200ms;
}
