.bordered {
  border-radius: 6px;
  border: var(--mui-palette-border-light) 1px solid;
}

.badge :global .MuiBadge-badge {
  right: 4px;
  bottom: 5px;
  height: 6px;
  min-width: 6px;
}

.badge :global .MuiBadge-badge {
  bottom: 4px;
  right: 4px;
  background-color: var(--mui-palette-secondary-main);
}

.maxButton {
  border: 0;
  background: none;
  color: var(--mui-palette-primary-main);
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.gauge {
  transition: width 200ms;
}

.amountDisplay {
  line-height: 2em;
  font-weight: 700;
  display: inline-flex;
  gap: 4px;
  align-items: center;
  z-index: 1;
}

.nextWithdrawal {
  border-radius: 6px;
  border: 1px var(--mui-palette-primary-main) solid;
  color: var(--mui-palette-text-secondary);
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
