.tabs {
  overflow: initial;
  align-self: flex-start;
  width: 100%;
}

/* Scroll buttons */
.tabs :global .MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}

.tabs :global .MuiTabScrollButton-root ~ .MuiTabs-scroller p {
  padding-bottom: 0;
}

.tabs :global .MuiTabScrollButton-root:first-of-type {
  margin-left: calc(16 * -1);
}

.tabs :global .MuiTabScrollButton-root:last-of-type {
  margin-right: calc(16 * -1);
}

.tabs :global .MuiTabScrollButton-root ~ .MuiTabs-scroller p {
  padding-bottom: 0;
}

.tab {
  opacity: 1;
  padding: 0 24;
  position: relative;
  z-index: 2;
}

.label {
  text-transform: none;
  padding-bottom: 6px;
}

@media (max-width: 599px) {
  .tabs span {
    flex: 1;
    min-width: fit-content;
  }

  .tab {
    width: 100%;
  }
}
