.reason {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  /* maxHeight is only needed if the browser does not support lineClamp properly */
  max-height: 3em;
  min-height: 3em;
}

.card {
  width: 100%;
}

.card:hover {
  border: 1px solid var(--mui-palette-secondary-main);
  background-color: var(--mui-palette-secondary-background);
}

[data-theme='dark'] .card:hover {
  border: 1px solid var(--mui-palette-primary-main);
  background-color: var(--mui-palette-background-light);
}
