.milesReceipt {
  width: 90%;
  display: flex;
  overflow: hidden;
}

.leftReceipt,
.rightReceipt {
  background-color: #121312;
  border-radius: 20px;
  padding: 40px;
  height: 537px;
  width: 100%;
}

.leftReceipt {
  position: relative;
  flex-grow: 1;
}

.leftReceipt:after {
  content: '';
  border-right: 1px dashed white;
  position: absolute;
  right: 0;
  top: 20px;
  height: calc(100% - 40px);
}

.barcode {
  position: absolute;
  right: 10%;
}

@media (max-width: 899px) {
  .milesReceipt {
    width: 100%;
  }

  .leftReceipt,
  .rightReceipt {
    border-radius: 0px;
  }
  .barcode {
    right: 0px;
  }

  .leftReceipt:after {
    display: none;
  }

  .leftReceipt {
    border-bottom: 1px dashed white;
  }
}
