.circles {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: radial-gradient(circle at 75% 25%, #12ff80, #121312 40%),
    radial-gradient(circle at 25% 125%, #5fddff, #121312 50%);
  background-blend-mode: screen;
}
